<!-- Kinderfasching -->

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon-tsv-bitzfeld.png') }}">
</head>
<body>
    <div class="table-container">
    <h1>Registrierte Teilnehmer</h1>
    <table border="1">
        <tr>
            <th>Zeitstempel</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Geburtsdatum</th>
            <th>Allergien</th>
            <th>Vereinsmitgliedschaft</th>
            <th>Telefon</th>
            <th>E-Mail</th>
            <th>Aktionen</th>
        </tr>
        {% for registration in registrations %}
        <tr {% if registration.confirmed %} class="confirmed" {% endif %}>
            <td>{{ registration.created_at.strftime('%d.%m.%Y %H:%M') }}</td>
            <td>{{ registration.child_firstname }}</td>
            <td>{{ registration.child_lastname }}</td>
            <td>{{ registration.birthdate }}</td>
            <td>{{ registration.allergies if registration.allergies else '-' }}</td>
            <td>{{ registration.club_membership }}</td>
            <td>{{ registration.phone_number }}</td>
            <td>{{ registration.email }}</td>
            <td>
                <!-- Formular zum Löschen eines einzelnen Eintrags -->
                <form action="{{ url_for('delete_entry', entry_id=registration.id) }}" method="post" onsubmit="return confirm('Bist du sicher?');">
            {{ form.hidden_tag() }}
                    <button type="submit" class="small-button">Löschen</button>
                </form>
                <!-- Formular zum Absenden der Bestätigungsmail -->
                <form action="{{ url_for('confirm_mail', entry_id=registration.id) }}" method="post" onsubmit="return confirm('Bist du sicher?');">
            {{ form.hidden_tag() }}
                    <button type="submit" class="small-button">Bestätigen</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <br>

    <!-- Formular zum Löschen aller Einträge -->
    <form action="{{ url_for('delete_all_entries') }}" method="post" onsubmit="return confirm('Möchtest du wirklich alle Einträge löschen?');">
            {{ form.hidden_tag() }}
        <button type="submit" class="delete-all-button">Alle Einträge löschen</button>
    </form>

    <br>

    <!-- Button zum Exportieren der Daten als Excel -->
    <div class="button-container">
        <a href="{{ url_for('export_excel') }}" class="button">Daten als Excel exportieren</a>
    </div>
    </div>
</body>
</html>
