<!-- Kinderfasching -->

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Bestätigung</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon-tsv-bitzfeld.png') }}">
</head>
<body>
    <div class="container">
        <h1>Vielen Dank für Ihre Anmeldung!</h1>
        <p>Die Anmeldung für <strong>{{ child_firstname }}</strong> <strong>{{ child_lastname }}</strong>, 
geboren am <strong>{{ birthdate }}</strong>, wurde erfolgreich übermittelt. <br><br>Bitte prüfen Sie das Postfach der von Ihnen angegebenen E-Mail-Adresse. Dort finden Sie eine Kopie der von Ihnen angegebenen Daten. <br><br>Um die Anmeldung abzuschließen ist die Bezahlung via <strong>PayPal Friends & Family</strong> erforderlich. </p>
        
        <div class="button-container">
    		<a href="https://paypal.me/pascalweibler?country.x=DE&locale.x=de_DE" target="_blank" class="paypal-button">Mit PayPal Friends & Family zahlen</a>
	</div>
    </div>
</body>
</html>

