<!-- Kinderfasching -->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Bestätigung</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon-tsv-bitzfeld.png') }}">
</head>
<body>
    <div class="container">
        <h1>VIELEN DANK FÜR IHRE ANMELDUNG!</h1>
        
        <h5>Angemeldete Kinder</h5>
        {% if data and data.children %}
            <div class="registered-children">
                {% for child in data.children %}
                    {% if child.child_firstname and child.child_lastname %}
                        <div class="child-name">{{ child.child_firstname }} {{ child.child_lastname }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <p>Keine Kinder angemeldet.</p>
        {% endif %}

        <!-- Bezahloptionen -->
        <h5>Bezahlung</h5>
        <div class="payment-info">
            <p>Um die Anmeldung abzuschließen, ist die Bezahlung der Eintrittskarte per <strong>PayPal Friends & Family</strong> oder <strong>Banküberweisung</strong> erforderlich.</p>
            <p>Die Bestätigung der Anmeldung erfolgt innerhalb von <strong>24 Stunden</strong> nach Eingang der Zahlung per Mail.</p>
        </div>

        <div class="button-wrapper">
            <button class="paypal-button">PayPal</button>
            <button class="bank-button">Banküberweisung</button>
        </div>

        <!-- Versteckte Bankdaten -->
        <div id="bank-details" style="display: none;">
            <div class="bank-details-container">
                <h2>Banküberweisung</h2>
                <p><strong>Empfänger:</strong> {{ payment_info.recipient }}</p>
                <p><strong>IBAN:</strong> {{ payment_info.iban }}</p>
                <p><strong>BIC:</strong> {{ payment_info.bic }}</p>
                <p><strong>Verwendungszweck:</strong> Kinderfasching 2025 - {{ data.parent_firstname }} {{ data.parent_lastname }}</p>
                <p><br><br>Bitte überweisen Sie den Betrag innerhalb von 3 Werktagen.</p>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>