<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Bestätigung</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Vielen Dank für Ihre Anmeldung!</h1>
        <p>Die Anmeldung für <strong>{{ child_firstname }}</strong> <strong>{{ child_lastname }}</strong>, 
        geboren am <strong>{{ birthdate }}</strong>, wurde erfolgreich übermittelt.</p>
        
        <div class="button-container">
    		<a href="/" class="button">Zurück zum Anmeldeformular</a>
	</div>
    </div>
</body>
</html>

