<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Anmeldeformular</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Fussballcamp 2025</h1>
        <p class="required-info">Felder mit <span class="required">*</span> sind Pflichtfelder.</p>

        <form action="/" method="POST">
            {{ form.hidden_tag() }}

            <!-- Name des Kindes -->
            <div class="form-group">
                <label for="child_firstname">Name des Kindes <span class="required">*</span></label>
                <div class="input-group">
                    {{ form.child_firstname(class="form-control", placeholder="Vorname", required="required") }}
                    {{ form.child_lastname(class="form-control", placeholder="Nachname", required="required") }}
                </div>
            </div>

            <!-- Geburtsdatum -->
            <div class="form-group">
                <label for="birthdate">Geburtsdatum des Kindes <span class="required">*</span></label>
                {{ form.birthdate(class="form-control", required="required") }}
            </div>

            <!-- Lebensmittelallergien -->
            <div class="form-group">
                 <label for="allergies">Hat das Kind Lebensmittelallergien? </label>
                 <div class="input-group">
                    {{ form.allergies(class="form-control", placeholder="Bitte Allergien angeben (falls vorhanden)") }}
                  </div>
            </div>

            <!-- Vereinsmitgliedschaft -->
            <div class="form-group">
                <label for="club_membership">Vereinsmitgliedschaft <span class="required">*</span></label>
                {{ form.club_membership(class="form-control", required="required") }}
            </div>

            <!-- Name des Erziehungsberechtigten -->
            <div class="form-group">
                <label for="parent_firstname">Name eines Erziehungsberechtigten <span class="required">*</span></label>
                <div class="input-group">
                    {{ form.parent_firstname(class="form-control", placeholder="Vorname", required="required") }}
                    {{ form.parent_lastname(class="form-control", placeholder="Nachname", required="required") }}
                </div>
            </div>

            <!-- Notfall-Telefonnummer -->
            <div class="form-group">
                <label for="phone_number">Notfall-Telefonnummer eines Erziehungsberechtigten <span class="required">*</span></label>
                <div class="input-group">
                    {{ form.phone_number(class="form-control", placeholder="Telefonnummer", required="required") }}
                </div>
            </div>

            <!-- E-Mail -->
            <div class="form-group">
                <label for="email">E-Mail Adresse eines Erziehungsberechtigten <span class="required">*</span></label>
                <div class="input-group">
                    {{ form.email(class="form-control", placeholder="E-Mail", required="required") }}
                </div>
            </div>

            <!-- Datenschutz -->
            <p>
                Mit dem Absenden erkläre ich mich mit der 
                <a href="{{ url_for('privacy') }}" class="privacy-link" target="_blank">Datenschutzerklärung</a> einverstanden.
            </p>

            <!-- Abschicken -->
            <button type="submit">Anmeldung absenden</button>
        </form>
    </div>


    <!-- JavaScript für Dropdown-Farbe -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let selectField = document.getElementById('club_membership');
            let birthdateField = document.getElementById('birthdate');

            function updateSelectColor() {
                if (selectField.value === "") {
                    selectField.style.color = '#c4c4cc';
                } else {
                    selectField.style.color = '#000000';
                }
            }

            function updateDateColor() {
                if (birthdateField.value === "") {
                    birthdateField.style.color = '#c4c4cc';
                } else {
                    birthdateField.style.color = '#000000';
                }
            }

            updateSelectColor();
            updateDateColor();
            selectField.addEventListener('change', updateSelectColor);
            birthdateField.addEventListener('change', updateDateColor);
        });
    </script>
</body>
</html>
